*{
    margin: 0;
    padding: 0;
    font-family: 'Gloria Hallelujah', cursive, arial;
    box-sizing: border-box;
}

#wrapper{
    max-width: 1500px;
    margin: 0 auto;   
}

p.name {
    font-size: 4em;
    color: yellow;
    border-left: 5px solid yellow;
    border-right: 5px solid yellow;
    text-align: center;   
}

p.job {
    font-size: 4em;
    color: yellow;
    text-align: center;
    
}